<html>
<head>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style>


</style>
</head>
<body>
  <div id='wrapper'>
    <nav id='nav' class='navbar navbar-static-top navbar-light bg-faded'>
      <a id='logo' class='navbar-brand bebas' href='#'>Get Out</a>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a class='white' href="#"><span class='glyphicon glyphicon-home'></span> Home</a></li>
        <li><a class='white' href="/start"><span class='glyphicon glyphicon-user'></span> Login</a></li>
      </ul>
    </nav>
    <div id='banner' class='jumbotron'>
      <div class='container'>
        <h1 class='rubik'>Welcome to <span class='white'>Get Out</span></h1>
        <p class='white'>
          An easy way to plan your day in an unfamiliar place.
        </p>
        <button class='btn btn-primary'><a class='white' href='/start'>Start Your Adventure!</a></button>
      </div>
    </div>
    <div class='container'>
      <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h3>Planning a Trip?</h3>
        <p>Easily search and save what you want to do in an itinerary.</p>
        <img style="margin-left: 60px; width: 45%; height: 50%;" src='static/images/map-marker-small-hi.png' alt='marker' />
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h3>Forgot where you went?</h3>
        <p>All your previous plans are saved and easily accessed from your account!</p>
        <img style="width: 40%; height: 40%;"src='/static/images/bubble.png' alt='bubble' />
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption text-center">
        <h3>Powered by GoogleAPIs</h3>
        <p>All our location data is pulled from the same reliable database you use everyday</p>
        <img style="width: 100%;" src='static/images/api.png' alt='api' />
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</body>
</html>
