<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/form-elements.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script>
      $(document).ready(function(){
        $('#deletebutton').hide()
        $('#delete').click(function(){
          $('#deletebutton').toggle()
        })
      })
    </script>
    <style>
      nav{
        background-color: #526578;
      }
      .white{
        color: white;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
      }

      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }
      #weather{
        background-image: url({{img}});
        background-size: cover;
      }
      #transbox{
        background-color: #ffffff;
        opacity: 0.6;
        filter: alpha(opacity=60);
      }
      .notrans{
        font-weight: bold;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <nav id='nav' class='navbar navbar-static-top navbar-light bg-faded'>
      <a id='logo' class='navbar-brand bebas white' href='#'>Get Out</a>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a class='white' href="/user_info"><span class='glyphicon glyphicon-home'></span> Home</a></li>
        <li><a class='white' href="/logout"><span class='glyphicon glyphicon-user'></span> Logout</a></li>

        <li><a class='white' href="/user_info"><span class='glyphicon glyphicon-arrow-left'></span> Go Back</a></li>
      </ul>
    </nav>
    <div class="row">
  		<div id='weather' class="jumbotron text-center" class="active">
        <div id='transbox' class='container'>

        <h2 class='white notrans' >Weather description: {{weather_info['weather'][0]['description']}}</h2>
        <h2 class='white notrans'>Approximate Temperature: {{temp}} F&#176;</h2>
         {% with messages = get_flashed_messages() %}
             {% if messages %}
                     <p>{{message}}</p>
             {% endif %}
         {% endwith %}

       </div>

      	</div>
     </div>
    <div class='container'>


   <div id="table" class="row">

     <div class="col-md-10 col-md-offset-1" class="active">
       <h2>Here's your day {{session['name']}}!</h2>
     <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <td>Name</td>
          <td>Your Preference</td>
          <td>Address</td>
        </tr>
      </thead>

      <tbody>
          {%for activity in activity%}
          {% if activity %}
            <tr>
              <td>{{activity['type']}}</td>
              <td>{{activity['category']}}</td>
              <td>{{activity['address']}}</td>
            </tr>
            {% endif %}
          {%endfor%}
      </tbody>

     </table>
     <div class='container'>
       <div class='container col-md-2'>
         <form action='/day_plan/{{plan_id}}' method='get'>
            <input class='btn btn-warning' type='submit' value='Edit'>  <span class='glyphicon glyphicon-pencil'></span>
         </form>
       </div>
       <div class='container col-md-2'>
         <button class='btn btn-danger' id ='delete'>Delete</button />  <span class='glyphicon glyphicon-remove'></span>
         <form id='deletebutton' action='/deleteplan/{{plan_id}}' method='get'>
           <input class='btn' type='submit' value='Are you sure?' />
         </form>
       </div>
     </div>

     <h3>In case you need directions...</h3>


    </div>
  </div>
    <div id='map' class='container'>

    </div>
    <div id="floating-panel" class='container'>
        <b>Start: </b>
        <select class='form-control' id="start">
          {% if activity[0] %}
          <option value="{{activity[0]['address']}}">
            Starting Location
          </option>
          {% endif %}
        </select>
        <b>End: </b>
        <select class='form-control' id="end">
          <option value = "{{activity[-1]['address']}}, {{activity[-1]['category']}}">
            {% if activity[-1] %}
            {{activity[-1]['category']}}
            {% endif %}
          </option>
        </select>
        Highlight to add waypoints!
        <select class='form-control' multiple id="waypoints">
          {% for act in activity %}
          {% if act!=activity[-1] and act!=activity[0] %}
            <option value="{{act['address']}}">{{act['category']}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <input class='btn btn-success' type="submit" id="submit" value='Generate Route'>
        </div>


        <div id="map"></div>
        <script>
        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 6,
              center: {lat: 41.85, lng: -87.65},
            });
            directionsDisplay.setMap(map);

            document.getElementById('submit').addEventListener('click', function() {
              calculateAndDisplayRoute(directionsService, directionsDisplay);
            });
            }

            function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            var waypts = [];
            var checkboxArray = document.getElementById('waypoints');
            for (var i = 0; i < checkboxArray.length; i++) {
              if (checkboxArray.options[i].selected) {
                waypts.push({
                  location: checkboxArray[i].value,
                  stopover: true
                });
              }
            }

            directionsService.route({
              origin: document.getElementById('start').value,
              destination: document.getElementById('end').value,
              waypoints: waypts,
              optimizeWaypoints: true,
              travelMode: google.maps.TravelMode.DRIVING
            }, function(response, status) {
              if (status === google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('directions-panel');
                summaryPanel.innerHTML = '';
                // For each route, display summary information.
                for (var i = 0; i < route.legs.length; i++) {
                  var routeSegment = i + 1;
                  summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                      '</b><br>';
                  summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
                  summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                  summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                }
              } else {
                window.alert('Directions request failed due to ' + status);
              }
            });
            }
        </script>



      </div>
  </body>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
  </script>
</html>
