<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
  <div class="row">
		<div class="col-md-7 col-md-offset-5" class="active">
    		<h2>Welcome {{session['name']}}!</h2>
    	</div>
   </div>
   <div class="row">
    	<div id='planner_box' class="col-md-4 col-md-offset-2" class="active">
	    	<h3>Plan your Day</h3>
	    	<form action='/options' method='post'>
	    		<label>Location:<br><input type="text" name="location"></label><br>
	    		<label>Start-time:<br><input type="time" name="start_time" ></label><br>
	    		<label>End-time:<br><input type="time" name="end_time" ></label><br>
	    		<label>Start-location:<br><input type="text" name="start_location" ></label><br>
	    		<label>Transportation:<br><select type="text" name="transportation" >
	    			<option>Walk</option>
	    			<option>Automobile</option>
	    		</select></label><br>
	    		<input type="submit" value="Make a Plan">
	    	</form>

    	</div>


    	<div id='past_trips' class="col-md-4 col-md-offset-1" class="active">
    		<h4>Past Trips</h4>
        {%for trip in trips%}
    		  <a href='#'>{{trip['city']}}</a><br>
        {%endfor%}
    
    	</div>
    </div>



  </body>
</html>
